.features {
    padding-top: 94px;
    padding-bottom: 94px;
  
  &__list {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    display: flex;
    justify-content: center;
  }
  &__item + &__item {
    margin-left: 30px;
  }
  &__title {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  &__icons {
    width: 270px;
    height: 120px;
    background-color: var(--third-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}