.page-footer {
    color: var(--secondary-title-text-color);
    background: var(--secondary-background-color);
  
  &__logo {
    display: block;
    margin-bottom: 20px;
    color: var(--secondary-title-text-color);
  }
  &__container {
    max-width: 1200px;
    padding: 60px 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}